%section#home.full-page.d-none.d-lg-block.bg-light
  = render partial: 'home'

%nav.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light
  .container
    = link_to 'Logo', '#home', class: 'navbar-brand'
    %button.navbar-toggler{type: 'button',data: {target: '#navbarContent', toggle: 'collapse'}, 'aria': {controls: '#navbarContent', expanded: 'false', label: 'Toggle Navigation'}}
      %span.navbar-toggler-icon
    #navbarContent.collapse.navbar-collapse
      %ul.navbar-nav.mx-auto.text-center
        %li.nav-item
          = link_to 'HOME', '#home', class: 'nav-link'
        %li.nav-item
          = link_to 'GROOM & BRIDE', '#who', class: 'nav-link'
        %li.nav-item
          = link_to 'WHEN & WHERE', '#event', class: 'nav-link'
        %li.nav-item
          = link_to 'GUESTBOOK', '#guestbook', class: 'nav-link'
        %li.nav-item
          = link_to 'GALLERY', '#gallery', class: 'nav-link'
        %li.nav-item
          = link_to 'BLOG', '#blog', class: 'nav-link'

%section#home.full-page.d-lg-none.p-0.bg-light
  = render partial: 'home'

%section#who.full-page
  = render partial: 'who'

%section#event.full-page.bg-light
  = render partial: 'event'

%section#guestbook.full-page
  = render partial: 'guestbook'

%section#gallery.full-page.bg-light
  = render partial: 'gallery'

%section#blog.full-page
  = render partial: 'blog'
